<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Comment</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/app.js"></script>
</head>
<body>
  <div class="container">
    <form>
            <div class="form-group">
                <label for="comment">Create Comment</label>
                <input type="text" id="create_comment" placeholder="Make a Comment">
            </div>
            <!--Implement question creation with button click-->
            <button type="button" onclick="createComment()" class="question-btn">Create Comment</button>

    </form>
  </div>
</body>
</html>
