<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Question</title>
    <link rel="stylesheet" href="../static/index.css">
    <script src="../static/app.js"></script>
</head>
<body>
  <div class="container">
    <form>
            <div class="form-group">
                <label for="question_title">Question Title</label>
                <input type="text" id="question_title" placeholder="Define Question Title">
            </div>
            <div class="form-group">
                <label for="question_ask">Create Question</label>
                <input type="text" id="question_ask" placeholder="Ask Your Question">
            </div>
            <!--Implement question creation with button click-->
            <button type="button" onclick="createQuestion()" class="question-btn">Create Question</button>
      
    </form>
  </div>
</body>
</html>
