<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <link rel="stylesheet" href="../static/library.css">
    <script src="../static/app.js"></script>
</head>
<body>
    <header>
        <nav>
            <a onclick="backToHome()" class="logo">Philosophia</a>
                <div class="main-nav">
                    <a onclick="backToHome()">Home</a>
                    <a href="library">Library</a>
                </div>
        </nav>
    </header>

    <div class="container">
        <h1 class="library-title">Philosophy Book Library</h1>

        <ul class="book-list">
            <li class="book-item">
                <h3 class="book-title">
                    <a href="https://en.wikipedia.org/wiki/Being_and_Time" target="_blank">Being and Time</a>
                </h3>
                <div class="book-author">Martin Heidegger</div>
                <div class="book-year">1927</div>
            </li>

            <li class="book-item">
                <h3 class="book-title">
                    <a href="https://en.wikipedia.org/wiki/Thus_Spoke_Zarathustra" target="_blank">Thus Spoke Zarathustra</a>
                </h3>
                <div class="book-author">Friedrich Nietzsche</div>
                <div class="book-year">1883-1891</div>
            </li>

            <li class="book-item">
                <h3 class="book-title">
                    <a href="https://en.wikipedia.org/wiki/Meditations" target="_blank">Meditations</a>
                </h3>
                <div class="book-author">Marcus Aurelius</div>
                <div class="book-year">161-180 AD</div>
            </li>

            <li class="book-item">
                <h3 class="book-title">
                    <a href="https://en.wikipedia.org/wiki/Republic_(Plato)" target="_blank">The Republic</a>
                </h3>
                <div class="book-author">Plato</div>
                <div class="book-year">c. 375 BCE</div>
            </li>

            <li class="book-item">
                <h3 class="book-title">
                    <a href="https://en.wikipedia.org/wiki/Critique_of_Pure_Reason" target="_blank">Critique of Pure Reason</a>
                </h3>
                <div class="book-author">Immanuel Kant</div>
                <div class="book-year">1781</div>
            </li>
        </ul>
    </div>
</body>
</html>